.category-card{
    background-color: rgba(255,255,255, 0.8);
    border-radius: 0.3rem;
    text-align:center;
    padding:0.3rem;
    box-shadow: var(--bs);
    transition: 0.4s;
}
.category-card img{
    border-bottom-right-radius: 2rem;
    min-height: 210px;
    object-fit:cover;
}
.category-card p{
    margin:.3rem;
}

.category-card:hover {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03);
  }

 