form {
    display: flex;
    justify-content: center;
    background-color: #F4F3EF;
    height: 500px;
    width: 500px;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(#F24C4E, #F4F3EF);
    box-shadow: 0px 0px 5px gray;
}

label {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    color: black;
}

input {
    display: flex;
    justify-content: center;
}

button {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
    color: black;
}

p {
    padding-bottom: 20px;
}
