/* CSS FILES CONFIGURATION
1. Configuration
- Fonts
- Custom Properties
  - Main Colours
  - Font Weight
  - Font Family
  - Font Size
  - box-shadow
  - padding container
- Reset
- General Styles
- Typography
2. Layout-related sections
- Header
3. Pages
- Homepage
4. Forms
5. Buttons
*/


/* 1. Configuration */
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:wght@300;400;500;600;700&display=swap');
/* Custom Properties */
:root {
  /* Main colours */
  --dark: rgb(65, 60, 88);/* #413C58 */
  --medium: rgb(53,135,164);/* #3587A4  */
  --light: rgb(193,223,240);/* #C1DFF0 */
  --light-accent: rgb(254,215,102);/* #FED766 */
  --white: rgb(255,255,255);
  --accent: rgb(255,88,87);/* #FE4A49 */
  /* Font Weight */
  --fw-reg: 500;
  --fw-bold: 600;

  /* Font Family */
  --ff-body: 'Nunito', sans-serif;
  --ff-title: 'Bebas Neue', cursive;
  /* Font size */
  --fs-h1: 2.2rem;
  --fs-h2: 1.8rem;
  --fs-h3: 1.3rem;
  --fs-body: 1.0rem;
  /* box-shadow */
  --bs: 0.25em 0.25em 0.75em rgba(61,64,91,.25), 
        0.125em 0.125em 0.25em rgba(61,64,91,.15);
  /* padding container */
  --bloc: 5vh 10vw;
}

@media (min-width: 900px) {
  :root {
    --fs-h1: 2.5em;
    --fs-h2: 1.7em;
    --fs-h3: 1.2em;
    --fs-body: 1.1rem;
  }
}

/* Reset */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* General Styles */
html {
  scroll-behavior: smooth;
  background-color: white!important;
  height:100%;

}

body {
  font-family: var(--ff-body);
  color: var(--dark);
  font-size: var(--fs-body);
  line-height: 1.6;
  background-color: white!important;
  min-height: 100%;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

/* :focus {
  outline: 3px solid var(--medium);
  outline-offset: 3px;
} */

.spinner{
  margin: 30px auto ;
  width:20px;
}

/* Typography */
h1,
h2,
h3 {
  font-family: var(--ff-title);
  font-weight: var(--fw-bold);
  line-height: 1.1;
  margin: 0;
  padding: 0.5em 0;
}

h1 {
  font-size: var(--fs-h1);
  color: var(--dark);
  text-align:center;
  padding-top: 2rem;
}
@media screen and (min-width: 600px) {
  footer{
    padding-top: 3rem;
  }
}
h2 {
  font-size: var(--fs-h2);
  color: var(--accent)
}

h3 {
  font-size: var(--fs-h3);
  color: var(--medium)
}

.section__title {
  font-size: var(--fs-h2);
  color: var(--medium);
}

.section_subtitle {
  margin: 0;
  font-size: var(--fs-h3);
  color: var(--accent);
  font-family: var(--ff-title);
}

a {
  font-size: inherit;
  font-family: var(--ff-body);
  text-decoration: none;
  color: var(--dark);
  font-weight: var(--fw-bold);
}

a:hover {
  color: var(--medium);
  text-decoration: underline var(--accent)

}

/* 2. Layout-related sections */
/* Header */
.header {
  background-color: var(--dark);
  color: var(--light);
  padding: 3vh 10vw 0;
  background-image: url(./images/ready-to-study.jpg);
}

.intro-text {
  padding: 2rem 0;
}

.mainContent {
  background-color: white;
  background-image: url(./images/paint-top.png), url(./images/halftone.png);
  background-size: 1800px 130px, 300px 300px;
  background-repeat: repeat-x, repeat;
  background-position: 0 0;
  padding: 0 5% 5%;
  margin: 0 0 -20px 0;
}

#opportunity-list, #organisation-list {
  display: grid;
  column-gap: 15px;
  row-gap: 15px;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin: 20px 0;
}

@media screen and (min-width: 600px) {
  #opportunity-list, #organisation-list  {
  grid-template-columns: 1fr 1fr;
  margin: 20px 100px;
  margin: 20px;
  }
  .mainContent {
    padding: 0 10% 5%;
  }

}

@media screen and (min-width: 900px) {
  #opportunity-list, #organisation-list {
  grid-template-columns: 1fr 1fr 1fr;
  }

}

/*Footer*/
#footer-p {
  font-size: 12px;
  margin-left: 20px;
}
footer{
  text-align: center;
  background-color: var(--light);
  display:flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 10px;
}
footer .navbar-link{
  border:none;
}
footer p{
  font-size:0.9rem;
  margin:0;
}
@media screen and (min-width: 600px) {
  footer{
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
  }
}

/* 3. Pages */
/* Homepage */
.banner{
  position:relative;
}
.bannerText {
  width:80%;
  border-radius: 0.3rem;
  box-shadow: var(--bs);
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
  padding: 1rem;
}
@media screen and (min-width: 600px) {
  .bannerText {
    position: absolute;
    background: rgba(255,255,255, 0.8);
    width: 35%;
    right: 0;
    top: 10%;
    margin: auto 2rem;
    padding: 2rem;
}

}
@media screen and (min-width: 900px) {
  .bannerText {
    width: 25%;
    top: 20%;
  }

}


button, .button-link{
  border-radius: 0.3rem;
  color:var(--dark);
  background-color: var(--light);
  font-family: var(--ff-body);
  border:none;
  padding:0.5rem;
  margin:0.1rem;
  font-size:var(--fs-body);
  cursor: pointer;
  font-weight:800;

}
button:hover, .button-link:hover{
  border-radius: 0.3rem;
  color:var(--light-accent);
  background-color: var(--dark);
  font-family: var(--ff-body);
  border:none;
  padding:0.5rem;
  font-size:var(--fs-body);
}

.button-link:hover, .button-link:active,.button-link:focus {
  background: var(--dark);
  text-decoration: none;
}

/* 4. Pages */
/* Organisation detail page */

.detail-box {
  align-self: center;
  width: 85vw;
  margin: 0 1rem;
}

.detail-box > img {
  height: 200px;
  width: 100%;
  object-fit: contain;
}
#not-in-the-list{
  display: none;
}
@media screen and (min-width: 600px) {
  .detail-box {
    align-self: center;
    max-width: 550px;
    width: 70vw;
    padding: 4% 0 2%;
    margin: 3rem;
    overflow: hidden;
  }
}
/* Page Formatting */

#page-blurb{
  text-align: center;
}