.logo {
    width: 230px;
    margin-top: 5px;  
    min-width: 105px;
}
  .navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
    width: 100vw;
    background-color: var(--white);
  }
  .navbar-home{
    padding: 30px 30px 0 30px; 
  }
  .navbar-home,
  .navbar-link {
    display: flex;
    align-items: center; 
    padding: 20px; 
    justify-content: center;
    font-size: 1.2rem;
  }
  .navbar .opened{
    /* height: calc(100vh - 120px); */
  }
  .navbar-links {
    display: flex;
    flex-direction: column;
    background-color: var(--light);
  }
  
  .navbar-link {
    border-bottom: 1px solid var(--white);
  }
  .navbar-links.closed {
    display: none;
  }
  
  .toggle {
    display: block;
  }
  
  #menu-button {
    display:none;
  }
  
  /**
  *
  * Larger screen
  *
  */
  @media screen and (min-width: 600px) {
    .navbar {
      flex-direction: row; 
      justify-content: space-between;
      padding: 5px 30px 0 20px;
    }
    .navbar .opened{
      height:200px;
    }
    .navbar-links {
      flex-direction: row;
      margin-top:-15px 10px 0;
      background-color: transparent;

    }
    .navbar-home,
    .navbar-link {
      flex-direction: row;
      border-bottom: none;
      padding:5px;
      margin: 0px 10px -5px;
      font-size: 1rem;
    }
    a.navbar-link  {
      border: transparent solid 1px;
    }
    a.navbar-link:hover {
      text-decoration: underline var(--accent)!important;
    }
    a.navbar-link:focus {
      border: var(--light) solid 2px;
      border-radius:0.3rem;
    }
    .toggle {
      display: none;
      padding: 8px;
      font-size: 16px;
    }
    .navbar-links.closed {
      display: flex;
      flex-direction: row;
      align-items: center;
  
    }
    #menu-button {
      width: 10rem;
      margin: 0px 10px -5px;
      padding: 1rem 0;
      background: none;
      outline: none;
      border: 2px solid transparent;
      font-size: 1rem;
      font-family: var(--ff-body)!important;
      color: #000;
      cursor: pointer;
      position: relative;
      transition: all 0.2s ease 0.05s;
      display: flex;
      font-size: var(--fs-body);
      color: var(--dark);
      font-weight: var(--fw-bold);
    }
    
    #menu-button:hover {
      text-decoration: underline var(--accent)!important;
      color: var(--medium);
    }
    #menu-button:focus {
        border: var(--light) solid 2px;
        border-radius:0.3rem;
    }
    #menu-button svg {
      margin:0 0.4rem;
      color:var(--accent);
    }
    
    #menu {
    background: #fff;
    margin-top: 0.8rem;
    border: 1px solid var(--medium);
    border-radius: 0.25rem;
    box-shadow: var(--bs);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.2s ease, opacity 0.2s ease, visibility 0s linear 0.2s;
    will-change: transform;
    text-align: left;
    position: absolute;
    right: 10px;
    top: 65px;
    z-index: 2;
    background-color: rgba(193,223,240,0.7);
    text-align: center;
    }
    
    #menu.visible {
      transform: translateY(-0.3rem);
      transition: transform 0.2s ease, opacity 0.2s ease, visibility 0s linear 0s;
      visibility: visible;
      opacity: 1;
    }
    
    #menu a {
      display: block;
      padding: 0.5rem;
      cursor: pointer;
      outline: none;
      margin: 0.3rem;
    }
    #menu a:hover {
      background-color: white;
      border-radius: 0.3rem;
  }
}
  @media screen and (min-width: 900px) {
    #menu-button {  min-width: 205px;
    }
  }