.logo {
    width: 230px;
    margin-top: 5px;  
    min-width: 200px;
}
  .navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
    width: 100vw;
    background-color: var(--white);
  }
  .navbar-home,
  .navbar-link {
    display: flex;
    align-items: center; 
    padding: 30px; 
    justify-content: center;
  
  }
  .navbar .opened{
    height:100vh;
  }
  .navbar-links {
    display: flex;
    flex-direction: column;
  }
  
  .navbar-link {
    border-bottom: 1px solid var(--dark);
  }
  .navbar-links.closed {
    display: none;
  }
  
  .toggle {
    display: block;
  }
  
  #menu-button {
    display:none;
  }
  
  /**
  *
  * Larger screen
  *
  */
  @media screen and (min-width: 600px) {
    .navbar {
      flex-direction: row; 
      justify-content: space-between;
      padding-right:10px;
    }
    .navbar .opened{
      height:200px;
    }
    .navbar-links {
      flex-direction: row;
      margin-top:-15px 10px 0;
    }
    .navbar-home,
    .navbar-link {
      flex-direction: row;
      border-bottom: none;
      padding:5px;
      margin: 0px 10px -5px;
  
    }
    a.navbar-link  {
      border: var(--white) solid 1px;
    }
    a.navbar-link:hover {
      text-decoration: underline var(--accent)!important;
    }
    a.navbar-link:focus {
      border: var(--light-accent) solid 2px;
      border-radius:4px;
    }
    .toggle {
      display: none;
      padding: 8px;
      font-size: 16px;
    }
    .navbar-links.closed {
      display: flex;
      flex-direction: row;
      align-items: center;
  
    }
    #menu-button {
      width: 10rem;
      margin: 0px 10px -5px;
      padding: 1rem 0;
      background: none;
      outline: none;
      border: none;
      font-size: 1rem;
      font-family: var(--ff-body);
      color: #000;
      cursor: pointer;
      position: relative;
      transition: all 0.2s ease 0.05s;
      display: flex;
      font-size: var(--fs-body);
      color: var(--dark);
      font-weight: var(--fw-bold);
      min-width: 170px;
    }
    
    #menu-button:hover, #menu-button:focus {
      text-decoration: underline var(--accent)!important;
      color: var(--medium);
    }
    
    #menu-button span {
      flex-grow: 1;
      text-align: center;
    }
    
    #menu-button svg {
      margin:0 0.4rem;
      color:var(--accent);
    }
    
    #menu {
    background: #fff;
    margin-top: 0.8rem;
    border: 1px solid var(--medium);
    border-radius: 0.25rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.2s ease, opacity 0.2s ease, visibility 0s linear 0.2s;
    will-change: transform;
    text-align: left;
    position: absolute;
    right: 0;
    top: 60px;
    z-index: 2;
    }
    
    #menu.visible {
      transform: translateY(-0.3rem);
      transition: transform 0.2s ease, opacity 0.2s ease, visibility 0s linear 0s;
      visibility: visible;
      opacity: 1;
    }
    
    #menu a {
      display: block;
      padding: 0.5rem;
      cursor: pointer;
      outline: none;
      margin: 0.3rem;
    }

  }