.logo {
    width: 230px;
    margin-top: 5px;  
    min-width: 200px;
}
  .navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
    width: 100vw;
    background-color: var(--white);
  }
  .navbar-home,
  .navbar-link {
    display: flex;
    align-items: center; 
    padding: 30px; 
    justify-content: center;
  
  }
  .navbar .opened{
    height:100vh;
  }
  .navbar-links {
    display: flex;
    flex-direction: column;
  }
  
  .navbar-link {
    border-bottom: 1px solid var(--dark);
  }
  .navbar-links.closed {
    display: none;
  }
  
  .toggle {
    display: block;
  }
  
  
  
  /**
  *
  * Larger screen
  *
  */
  @media screen and (min-width: 600px) {
    .navbar {
      flex-direction: row; 
      justify-content: space-between;
      padding-right:10px;
    }
    .navbar .opened{
      height:200px;
    }
    .navbar-links {
      flex-direction: row;
      margin-top:-15px 10px 0;
    }
    .navbar-home,
    .navbar-link {
      flex-direction: row;
      border-bottom: none;
      padding:5px;
      margin: 0px 10px -5px;
  
    }
    a.navbar-link  {
      border: var(--white) solid 1px;
    }
    a.navbar-link:hover {
      text-decoration: underline var(--accent)!important;
    }
    a.navbar-link:focus {
      border: var(--light-accent) solid 1px;
    }
    .toggle {
      display: none;
      padding: 8px;
      font-size: 16px;
    }
    .navbar-links.closed {
      display: flex;
      flex-direction: row;
      align-items: center;
  
    }
    
  }